*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    margin-top: 10px;
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    background-color: burlywood;
    

    
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
}


.head {
    display: flex;
    border: 5px solid black;
    height: 350px;
    align-items: flex-end;
    border-radius: 5px;
    background-color: pink;
    padding:2px;
}


.bars {
    width: 30px;
    height: 100px;
    border: 1px solid black;
    margin-left: 20px;
    background-color: red;
    transition: height 3s ease-in;
}



button{
    height: 30px;
    width: 70px;
    /* background-color: khaki; */
    border-radius: 5px;
    
}

button:hover{
    font-weight: bold;
    transition: all 0s;
    background-color: yellowgreen;
    
}
 
/* indication is container of all the color box */

.indication{
    height:130px;
    display:flex;
    margin-left: 160px;
    border:1px solid black ; 
    background-color: gray;
    color: white;
    border-radius: 5px;
    
}

.parent-container{
    margin:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* color boxs for representing element state  */
.color-box1{
    height:50px;
    width:50px;
    background-color:red;
    margin-top: 5px;
}


.color-box2{
    height:50px;
    width:50px;
    background-color:yellow;
    margin-top: 5px;
}


.color-box3{
    height:50px;
    width:50px;
    background-color:green;
    margin-top: 5px;
}

h4{
    color: black;
    
}